# HOW TO EDIT THIS FILE:
# The "handy ruler" below makes it easier to edit a package description.  Line
# up the first '|' above the ':' following the base package name, and the '|'
# on the right side marks the last column you can put a character in.  You must
# make exactly 11 lines for the formatting to be correct.  It's also
# customary to leave one space after the ':' except on otherwise blank lines.

              |-----handy-ruler------------------------------------------------|
kconfigwidgets: kconfigwidgets (widgets for configuration dialogs)
kconfigwidgets:
kconfigwidgets: KConfigWidgets provides easy-to-use classes to create
kconfigwidgets: configuration dialogs, as well as a set of widgets which uses
kconfigwidgets: KConfig to store their settings.
kconfigwidgets:
kconfigwidgets:
kconfigwidgets:
kconfigwidgets: Homepage: https://cgit.kde.org/kconfigwidgets.git/
kconfigwidgets: Download: https://download.kde.org/stable/frameworks/
kconfigwidgets:
